
/* adding in a new font */

@font-face {
    font-family: 'greenWashingFont';
    src: url('/final-project/assets/fonts/SourceSerif4-VariableFont_opsz\,wght.ttf') format('truetype'); 
  }


body{
    /* margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%; */
    font-family: 'Georgia', serif;
    background-color: #5AB398;

  } 

p{
    font-size: 120px;
}

#homeNameDiv{
    /* display:flex;
    width:80%;
    flex-direction: column;
   align-items: center; */
   display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%; /* Adjust width if needed */
}

.quizName{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.circle {
    width: 100px;          
    height: 100px; 
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    background-color: 43A977;
  }

  .circle:nth-child(1) {
    width: 200px;
    height: 200px;
    top: 10%;
    left: 20%;
  }
  .circle:nth-child(2) {
    width: 150px;
    height: 150px;
    top: 40%;
    left: 60%;
  }
  .circle:nth-child(3) {
    width: 250px;
    height: 250px;
    top: 60%;
    left: 10%;
  }

  .circle:nth-child(4) {
    width: 100px;
    height: 100px;
    top: 50%;
    left: 20%;
  }
  .circle:nth-child(5) {
    width: 70px;
    height: 70px;
    top: 20%;
    left: 50%;
  }
  .circle:nth-child(6) {
    width: 200px;
    height: 200px;
    top: 50%;
    left: 75%;
  }
  .circle:nth-child(7) {
    width: 150px;
    height: 150px;
    top: 5%;
    left: 50%;
  }
  .circle:nth-child(8) {
    width: 150px;
    height: 150px;
    top: 70%;
    right: 5%;
    /* begin button */
  }
  .circle:nth-child(9) {
    width: 80px;
    height: 80px;
    top: 40%;
    left: 20%;
  }
  .circle:nth-child(10) {
    width: 150px;
    height: 150px;
    top: 30%;
    left: 0%;
  }
  .circle:nth-child(11) {
    width: 130px;
    height: 130px;
    top: 50%;
    left: 40%;
  }
  .circle:nth-child(12) {
    width: 200px;
    height: 200px;
    top: 5%;
    left: 80%;
  }