/****** CS FOR ENTIRE PAGE*****/
body {
    background: #43A977;
}

@font-face {
    font-family: 'questionFont';
    src: url('/final-project/assets/fonts/AnonymousPro-Regular.ttf') format('truetype'); 
  }



/* container of all the content except for the flower; creating the card container for the flower */
.contentContainer{
    width: 800px;
    height: 255px;
    background-color: #f7f5e6;
    border-radius: 50px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: 'questionFont';
    
}
/* includes the flowers and the text container */
#quizContentEntire{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

/* styling the buttons */
button{
    background-color: #E38686;
    border-radius: 15px;
    font-size: larger;
    font-family: 'questionFont';
    color: white;
    border:none;
    width: 70px;
    height: 40px;
}

#questionNum{
        display:flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px; 
        border-radius: 50%; 
        background-color: #F9F5E7; 
        color: #2C2C2C; 
        font-weight: bold;
        font-size: 16px;
        border: 2px solid #4CAF50; 

        position: absolute;
        top: -10px; 
        left: 20px;
}

/****** CSS FOR QUESTION CONTENT ONLY *****/



/* resizing images to ensure they are proportionally correct to their container */
.questionImage{
    width: 80%;
    height: 80%;
    object-fit: contain;
    border-radius: 10px;  /* rouding the corners */
    padding: 5%;
}





#questionTextContent{
    display:flex;
    flex-direction: column;
    width: 20%;
}

.questionButtons{
    display:flex;
    flex-direction: row;
}


/****** CSS FOR RESPONSE CONTENT ONLY *****/
#responseTextContent{
    display:flex;
    flex-direction:column;
}
